<?xml version='1.0' encoding='utf-8'?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:jdbc="http://www.springframework.org/schema/jdbc"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd">

	
	<beans profile="production ">
		<!--Bean to load properties file -->  
		<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
			<property name="location">
				<value>/WEB-INF/resources/aws_mysql_config.properties</value>
			</property>
		</bean>
		
		<!-- Create a DBCP connection pool -->
		<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
			<property name="driverClassName" value="${jdbc.driverClassName}" />
			<property name="url" value="${jdbc.url}" />
			<property name="username" value="${jdbc.username}" />
			<property name="password" value="${jdbc.password}" />
			<property name="initialSize" value="${jdbc.initialSize}"/>
		</bean>
		
	</beans>

		<beans profile="localmysql ">
		<!--Bean to load properties file -->  
		<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
			<property name="location">
				<value>/WEB-INF/resources/local_mysql_config.properties</value>
			</property>
		</bean>
		
		<!-- Create a DBCP connection pool -->
		<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
			<property name="driverClassName" value="${jdbc.driverClassName}" />
			<property name="url" value="${jdbc.url}" />
			<property name="username" value="${jdbc.username}" />
			<property name="password" value="${jdbc.password}" />
			<property name="initialSize" value="${jdbc.initialSize}"/>
		</bean>
		
	</beans>
	

	<beans profile="local">
		<!--Bean to load properties file -->  
		<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
			<property name="location">
				<value>/WEB-INF/resources/local_hsql_config.properties</value>
			</property>
		</bean>
		
		<!-- Create a DBCP connection pool -->
		<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
			<property name="driverClassName" value="${jdbc.driverClassName}" />
			<property name="url" value="${jdbc.url}" />
			<property name="username" value="${jdbc.username}" />
			<property name="password" value="${jdbc.password}" />
			<property name="initialSize" value="${jdbc.initialSize}"/>
		</bean>
		
		<jdbc:embedded-database id="embeddedDatabase" type="HSQL">
		</jdbc:embedded-database>
			
		<bean depends-on="dataSource" class="org.springframework.beans.factory.config.MethodInvokingBean">
			<property name="targetClass" value="org.hsqldb.util.DatabaseManagerSwing" />
			<property name="targetMethod" value="main" />
			<property name="arguments">
				<list>
					<value>--url</value>
					<value>${jdbc.url}</value>
					<value>--user</value>
					<value>${jdbc.username}</value>
					<value>--password</value>
					<value>${jdbc.password}</value>
				</list>
			</property>
		</bean>
		  
	</beans>


</beans>
